[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xibo Player
Comment=Xibo Player
Exec=xibo-player
Terminal=false
Icon=${SNAP}/meta/gui/xibo-player.png