[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xibo Linux Player
Comment=Xibo Linux Player
Exec=xibo-player
Terminal=true
Icon=${SNAP}/meta/gui/xibo-player.png